<form class="form validate-form" id="info">
    <div class="textHolder">
        <div class="wrap-input100 validate-input" data-validate = "Firstname is required">
            <input class="input100" type="text" name="First" placeholder="FirstName">
            <span class="focus-input100"></span>
            <span class="symbol-input100">

						</span>
        </div>
        <div class="wrap-input100 validate-input" data-validate = "Lastname is required">
            <input class="input100" type="LastName" name="Last" placeholder="LastName">
            <span class="focus-input100"></span>
            <span class="symbol-input100"></span>
        </div>
    </div>
    <select name="jobs" id="soflow-color"> <!--Supplement an id here instead of using 'text'-->
        <option value="Intern"selected><span>Intern</span></option>
        <option value="Volunteer"><span>Volunteer</span></option>
        <option value="Instructor"><span>Instructor</span></option>
        <option value="Student"><span>Student</span></option>
        <option value="Staff"><span>Staff</span></option>

    </select>
</form>