<form class="form validate-form" id="info">
    <div class="textHolder">
        <div class="wrap-input100 validate-input" data-validate = "Firstname is required">
            <input class="input100" type="text" name="First" placeholder="FirstName">
            <span class="focus-input100"></span>
            <span class="symbol-input100">

						</span>
        </div>
</form>