<!DOCTYPE html>
<html>
<head>
  <title>PVNet Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    function inputUser(){
        var First = document.getElementsByName('First')[0].value();
        window.location.href = "/ClassesDisplay?First=" + First;
    }

  </script>
</head>
<body>
<video autoplay muted loop id="myVideo">
  <source src="/Videoes/Meeting.MP4" type="video/mp4">
</video>

<div class="container">
  <div class="image-container">
    <img src="/images/pvnet.jpg" alt="Avatar" class="round-image">
  </div>
  < class="form-container">
    <form class="form validate-form" id="info">
      <div class="textHolder">
        <div class="wrap-input100 validate-input" data-validate = "Firstname is required">
          <input class="input100" type="text" name="First" placeholder="FirstName">
          <span class="focus-input100"></span>
          <span class="symbol-input100">

          </span>
        </div>
      </div>
    </form>
        <input type="button" class="login100-form-btn" value = "login" onclick="inputUser()">
        </input>

      <div class="container-login100-form-btn">

        <button class="login100-form-btn" type = "button" value = "signout" onclick="window.open('/views/components/Signout.ejs', '_blank');">

          <span class="login100-form-btn-text">Signout</span>
        </button>

      </div>
    </div>



  </div>

  <script src="javascripts/main.js"></script>
  <script src="stylesheets/jquery/jquery-3.2.1.min.js"></script>
</body>
</html>
