<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script type="text/javascript">
        var mysql = require('mysql');

        var con = mysql.createConnection({
            host: "localhost",
            user: "classUser",
            password: "P00bapop!",
            database: "TestDatabase"
        });

        con.connect(function(err) {
            if (err) throw err;
            con.query("SELECT * FROM TestClasses WHERE instructor='Doug';", function (err, result, fields) {
                if (err) throw err;
                console.log(result);
                return result;
            });
        });
    </script>
  </body>
</html>
