<!DOCTYPE html>
<html>
<head>
  <title>PVNet Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    function inputUser(){
        var First = document.getElementsByName('First')[0].value();
        window.location.href = "/ClassesDisplay?First=" + First;
    }

  </script>
</head>
<body>
<video autoplay muted loop id="myVideo">
  <source src="/Videoes/Meeting.MP4" type="video/mp4">
</video>
        <input type="text" name="First" placeholder="FirstName">
        <input type="button" class="btn"  onclick="inputUser()">

</body>
</html>
