<!DOCTYPE html>
<html>
<head>
  <title>PVNet Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript">
    function inputUser(){
        var First = document.getElementsByName('First')[0].value();
        window.location.href = "/ClassesDisplay?First=" + First;
    }

  </script>
</head>
<body>
<input type="text" name="First"  placeholder="first">
<input type="button" name="sSearch" value="Search" class="btn" onclick="inputUser()">

</body>
</html>
